<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <meta charset="UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/login(done=${done})}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" th:field="*{username}" /></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="text" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>
